---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Parallax from "../components/Parallax.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container mx-auto prose m-28">
			<p>
				Hello, my full name is Stanislav Kondratyuk. I use the shortened
				name Stan Kondrat online for convenience and simplicity. You can
				find and connect with me on social media:
				<a href="https://www.instagram.com/stanxpert/">Instagram</a>

				and

				<a href="https://linkedin.com/in/stankondrat">LinkedIn</a>.
			</p>

			<p>
				My open source code at <a href="https://github.com/stan-kondrat"
					>https://github.com/stan-kondratt</a
				>
			</p>
		</main>
		<Footer />
	</body>
</html>
