---
const today = new Date();
---

<footer class="relative pr-4 pt-8 pb-6">
  <div class="container mx-auto">
    <div class="flex flex-wrap pt-6 text-center md:text-left">
      <div class="w-full px-4 md:w-6/12">
        <h4
          class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900 mb-4"
        >
          Stan Kondrat
        </h4><p
          class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-500 md:w-2/5"
        >
          Full-Stack Developer with 20+ Years of Experience
        </p><div
          class="mx-auto mt-6 mb-8 flex justify-center gap-2 md:mb-0 md:justify-start"
        >
          <a
            href="https://github.com/stan-kondrat/"
            target="_blank"
            rel="noopener noreferrer"
            ><button
              class="cursor-pointer relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] text-xs text-blue-gray-900 shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-full shadow-none bg-transparent"
              type="button"
              ><span
                class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                ><p
                  class="block antialiased font-sans text-base font-light leading-relaxed text-gray-700"
                >
                  <img src="/assets/icons/Github.svg" alt="" />
                </p></span
              ></button
            ></a
          ><a
            href="https://www.linkedin.com/in/stankondrat/"
            target="_blank"
            rel="noopener noreferrer"
            ><button
              class="cursor-pointer relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] text-xs text-blue-gray-900 shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-full shadow-none bg-transparent"
              type="button"
              ><span
                class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                ><p
                  class="block antialiased font-sans text-base font-light leading-relaxed text-gray-700"
                >
                  <img src="/assets/icons/LinkedIn.svg" alt="" />
                </p></span
              ></button
            ></a
          ><a
            href="https://www.instagram.com/stanxpert/"
            target="_blank"
            rel="noopener noreferrer"
            ><button
              class="cursor-pointer relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] text-xs text-blue-gray-900 shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none rounded-full shadow-none bg-transparent"
              type="button"
              ><span
                class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
                ><p
                  class="block antialiased font-sans text-base font-light leading-relaxed text-gray-700"
                >
                  <img src="/assets/icons/Instagram.svg" alt="" />
                </p></span
              ></button
            ></a
          >
        </div>
      </div><div class="mx-auto mt-12 grid w-max grid-cols-2 gap-24 md:mt-0">
        <div>
          <p
            class="antialiased font-sans text-sm leading-normal text-blue-gray-900 mb-2 block font-medium uppercase"
          >
            Blog
          </p><ul class="mt-3">
            <li>
              <a
                href="/posts/"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >Posts</a
              >
            </li><li>
              <a
                href="/categories/"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >Categories</a
              >
            </li><li>
              <a
                href="/tags/"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >Tags</a
              >
            </li>
          </ul>
        </div><div>
          <p
            class="antialiased font-sans text-sm leading-normal text-blue-gray-900 mb-2 block font-medium uppercase"
          >
            Useful links
          </p>
          <ul class="mt-3">
            <li>
              <a
                href="/about/"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >About</a
              >
            </li>
            <li>
              <a
                href="/categories/#projects"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >Projects</a
              >
            </li>
            <li>
              <a
                href="/rss.xml"
                target="_blank"
                rel="noreferrer"
                class="antialiased font-sans text-sm leading-normal mb-2 block font-normal text-blue-gray-500 hover:text-blue-gray-700"
                >RSS

                <svg
                  class="ml-1"
                  style="height: 1.2em; display: inline-block; vertical-align:text-bottom;"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                  <path
                    d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM96 136c0-13.3 10.7-24 24-24c137 0 248 111 248 248c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-110.5-89.5-200-200-200c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24c83.9 0 152 68.1 152 152c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-57.4-46.6-104-104-104c-13.3 0-24-10.7-24-24zm0 120a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                  ></path></svg
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><hr class="my-6 border-gray-300" /><div
    class="flex flex-wrap items-center justify-center md:justify-between"
  >
    <div class="mx-auto w-full px-4 text-center">
      <p
        class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-500"
      >
        Copyright &copy; {today.getFullYear()} All rights reserved.
      </p>
    </div>
  </div>
</footer>
