---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container mx-auto mb-4">
	<nav>
		<h2><a href="/">Stan Kondrat</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/posts">Posts</HeaderLink>
			<HeaderLink href="/categories">Categories</HeaderLink>
			<HeaderLink href="/tags">Tags</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div></div>
	</nav>
</header>
<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
